body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#app{
    min-height: 100vh;
    background-color: #f8f8f8;

}

h1{
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin: 0;
}

.container{
    max-width: 100%;
    margin: 0;

}